# Ignore everything in this directory
*~
*.o
*.o.d
*.gcov
bin/
build*/
dijkstra/bin
private_set/bin
shortest_path_iterative/bin
shortest_path_multicall/bin
shortest_path_singlecall/bin

## .gitattributes
# Except this file
!.gitignore

.idea
*/**/*.gch
*.a
*.class

## for the moment
.cproject
.metadata/
.project
.settings/
RemoteSystemTempFiles/
.classpath
.externalToolBuilders/
/Default/

.DS_Store

# Ignore intellij project files/cmake files
# CMakeLists.txt
.idea/

# vagrant output
.vagrant/
*.log

# gtest output files

# Visual Studio Code
.vscode
